<h1><%= @category.title %></h1>

<% @images.each do |image| -%>
  <div class="gall_image">
    <h3><%= image.title %></h3>
    <p><%= image.description %></p>
    <%= image_tag image.photo.url(:thumb) %>
  </div>
<% end -%>